In [1]:
from utils import *
import pandas as pd

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jannis/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df_full = fetch_full_FANG_dataset()
df_full.describe()

,url,date,source,label,header,article,twitter-history
count,41240,41240,41240,41240,41240,41240,41240
unique,41107,38100,13,2,40345,41091,33743
top,https://de.rt.com/inland/106402-lauterbach-ex-...,2021-03-27T19:17:00+01:00,tagesspiegel.de,real,Nachrichten am Morgen - die Übersicht für Eilige,Nach seiner unbelegten Äußerun...,[]
freq,23,23,11623,28056,124,23,7405

In [3]:
grouped = df_full.groupby('source')
for name, group in grouped:
    print(f"Group {name}")
    print(group['label'].value_counts())
verlage_aggr = grouped.aggregate('count')
print(verlage_aggr)

Group anonymousnews.ru
fake    229
Name: label, dtype: int64
Group compact-online.de
fake    1077
Name: label, dtype: int64
Group contra-magazin.com
fake    998
Name: label, dtype: int64
Group de.rt.com
fake    2442
Name: label, dtype: int64
Group freiewelt.net
fake    1403
Name: label, dtype: int64
Group journalistenwatch.com
fake    3675
Name: label, dtype: int64
Group kopp-report.de
fake    204
Name: label, dtype: int64
Group politikstube.com
fake    601
Name: label, dtype: int64
Group pravda-tv.com
fake    1116
Name: label, dtype: int64
Group rubikon.news
fake    1439
Name: label, dtype: int64
Group sueddeutsche.de
real    6749
Name: label, dtype: int64
Group tagesspiegel.de
real    11623
Name: label, dtype: int64
Group zeit.de
real    9684
Name: label, dtype: int64
                         url   date  label  header  article  twitter-history
source
anonymousnews.ru         229    229    229     229      229              229
compact-online.de       1077   1077   1077    1077     1077             1077
contra-magazin.com       998    998    998     998      998              998
de.rt.com               2442   2442   2442    2442     2442             2442
freiewelt.net           1403   1403   1403    1403     1403             1403
journalistenwatch.com   3675   3675   3675    3675     3675             3675
kopp-report.de           204    204    204     204      204              204
politikstube.com         601    601    601     601      601              601
pravda-tv.com           1116   1116   1116    1116     1116             1116
rubikon.news            1439   1439   1439    1439     1439             1439
sueddeutsche.de         6749   6749   6749    6749     6749             6749
tagesspiegel.de        11623  11623  11623   11623    11623            11623
zeit.de                 9684   9684   9684    9684     9684             9684

In [4]:
total_sentence_list = draw_proportional_randomsample_from_FANG_df(df_full)

anonymousnews.ru
1
compact-online.de
3
contra-magazin.com
3
de.rt.com
6
freiewelt.net
4
journalistenwatch.com
9
kopp-report.de
1
politikstube.com
2
pravda-tv.com
3
rubikon.news
4
sueddeutsche.de
17
tagesspiegel.de
29
zeit.de
24

In [13]:
random.shuffle(total_sentence_list)

['Ärger über Gasmasken-Eklat Samstag, 1 Juli, 122 Uhr: In der AfD regt sich Unmut über den provozierenden Gasmasken-Auftritt des Landtagsabgeordneten Stefan Löw im Plenum', 'Dabei hatte die Projektleitung eigentlich ein paar Erfolge seit dem vergangenen Treffen im September zu berichten', 'Trotz der beiden Bike-Lanes ist der Verkehr auf den verbliebenen vier Fahrspuren so heftig und laut, dass die von Husein befürchtete Autofreiheit der Stadt weder unmittelbar droht noch überhaupt als Drohung erscheint', 'Interessant ist, dass es der Civey-Umfrage zufolge für mögliche neue Restriktionen quer durch alle Altersgruppen Zustimmung gäbe', 'Die Salzburger Festspiele aber haben sich zumindest in ihrem ersten Pas de deux mit der Seuche glänzend geschlagen']

In [10]:
print(total_sentence_list[0:5])

['Unsere Newsletter aus diesen drei Berliner Bezirken können Sie, wie auch alle anderen Bezirksnewsletter vom Tagesspiegel, hier kostenlos bestellen: leute.tagesspiegel.de Madlen Haarbach schreibt aus NEUKÖLLN: Aus dem Bezirk MITTE berichtet Julia Weiss: Aus REINICKENDORF meldet sich Gerd Appenzeller: Gerade in diesen Zeiten ist es wichtig, lieben Menschen zu gratulieren', 'Die ersten Niederlagen illustrieren das ganz gut', '"Die wichtigsten Wochen im Jahr sind im Dezember schon weggebrochen und jetzt geht es weiter', 'Wir haben uns sogar auf einer Pilgerreise quer durch Spanien kennengelernt', 'So muss man etwa davon ausgehen, dass sehr viele Menschen, die keine oder leichte Symptome zeigen oder zeigten, infiziert sind oder waren, aber nicht in diese Statistik eingehen, weil sie nicht getestet werden beziehungsweise wurden']

In [17]:
df_annotate = pd.DataFrame(columns=['sentence','is_claim','to_exclude'])
df_annotate['sentence'] = total_sentence_list
df_annotate['is_claim'] = 2
df_annotate['to_exclude'] = 0

In [5]:
df_annotate.to_csv(f"/data/final_annotation_{len(total_sentence_list)}.csv",'!')

NameError: name 'df_annotate' is not defined

,Unnamed: 0,sentence,is_claim,to_exclude
0,0,"Ärger über Gasmasken-Eklat Samstag, 1 Juli, 12...",1,0
1,1,Dabei hatte die Projektleitung eigentlich ein ...,0,0
2,2,Trotz der beiden Bike-Lanes ist der Verkehr au...,1,0
3,3,"Interessant ist, dass es der Civey-Umfrage zuf...",1,0
4,4,Die Salzburger Festspiele aber haben sich zumi...,0,0

In [8]:
df=pd.read_csv("/data/FullAnnotated1.csv",sep=';')